  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
h2, h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

/* Outline styles */
*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 5px;

}
/* button style */

.primary-button {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  width: 152px;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #ff7500;
  border: none;
  transition: opacity 0.4s ease;

}
.primary-button > a {
  color: #fff;
  text-decoration: none;
}

.primary-button:hover {
  background: #ff7500;
  opacity: 0.8;
}
.primary-button:active {
  opacity: 0.6;
}

/* Header section */
.logo {
  margin-right: 382px;
  margin-left: 170px;
}
.logo {
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.head-part {
  background-color: #fff;
  color: #000;
  width: 1440px;
  display: flex;
  align-items: center;
  border-top: 5px solid #ff7500;
  padding: 16px;

}

.navbar > ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-right: 32px;
}

.navbar > ul > li > a {
  gap: 32px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.navbar > ul > li > a:hover {
  color: #ff7500;
}
.sitenav-item {
  margin-right: 32px;
}
.sitenav-item:last-child {
  margin-right: 0;
}

.nav-btn {
  display: flex;
  align-items: center;
}



/* Main part first section */
.first-sc {
  background-color: #252420;
  margin-top: 97px;
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 80px 0;

}

.info-box {
width: 387px;
background-color: inherit;
color: #fff;
margin: 0;
margin-left: 170px;
margin-right: 203px;
}
.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: #ff7500;
  margin: 0;
  margin-bottom: 40px;
}
.header-info-box {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 24px;
}
.info-box-description {
  font-weight: 400;
  margin: 0;
  margin-bottom: 32px;

}

.first-sc-img {
width: 510px;
height: 510px;
border-radius: 12px;
margin: 0;
}

/* Features */
.second-sc {
  width: 100%;
  max-width: 1440px;
  padding: 210px 0;
}
.features-box {
  margin: 0;
  margin-left: 170px;

}

.heading-md {
width: 435px;
margin: 0;
margin-bottom: 72px;
font-size: 72px;
line-height: 1.2;
letter-spacing: 0.5px;
}
.features {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}
.features-list {
  color: #000;
  list-style: none;
  width: 340px;
  margin: 0;
  margin-right: 40px;
}
.features-list:last-child {
  margin-right: 0;
}
.icon {
  width: 100px;
  height: 100px;
  margin: 0;
  margin-bottom: 32px;

}
.heading-sl {
  width: 214px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28.8px;
  letter-spacing: 0.4px;
  font-style: normal;
  margin-bottom: 12px;
}

.features > li > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;

}

/* Sale section  */
.third-sc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  border-radius: 12px;
  margin: 0 170px 170px 98px;
}

.info-sale {
  background-color: inherit;
  width: 440px;
  color: #fff;
  margin-left: 64px;
  margin-right: 92px;
}

.heading-sale {
  width: 373px;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 24px;
}

.sale-text {
  margin-bottom: 12px;
}
.sale-btn {
  margin-top: 24px;
}

.sale-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  margin-right: 64px;
}

.sale-highlight {
  color: #ff7500;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

}

/* Footer section */

.footer-sc {
width: 1440px;
background-color: #f8f8f8;
padding: 56px 0;
}
.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 353px;
  width: 1100px;
  margin-top: 26px;
  margin-left: 160px;
  margin-bottom: 40px;

}
.footer-logo {
  margin: 0;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 18px;
  width: 104px;
  list-style: none;
}
.social-networks > li > a{
  color: #252420;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-networks > li > a:hover {
  color: #ff7500;
}
.social-networks > li > a:active {
  opacity: 0.6;
}
.social-networks > li > a:focus {
  opacity: 0.6;
}

.line {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  margin: 0;
  margin-bottom: 64px;
  margin-left: 160px;

}

.info-links {
display: flex;
align-items: flex-start;
padding: 0;
margin: 0;
margin-left: 160px;
margin-bottom: 53px;
}
.info-links > ul {
list-style: none;
margin-right: 68px;
width: 224px;
}

a[class="info-links-li"] {
  text-decoration: none;
  color: #252420;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 10px;
}

a[class="info-links-li"]:hover {
  color: #ff7500;
}
a[class="info-links-li"]:active {
  opacity: 0.6;
}
a[class="info-links-li"]:focus {
  opacity: 0.6;
}
